<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon's Profile</title>

</head>

<body style="background-size:cover" background="http://lphs.selangor.gov.my/modules_resources/index/background_images/Wallpaper.jpg">
<center>
    <h2> ======= Pokemon's Battle =======</h2>
    <hr>
    <h2 style="color:red; font-family: Showcard Gothic"> ~~~~~ {{a1.upper()}} ~~~~~ VS ~~~~~ {{a2.upper()}} ~~~~~</h2>
    <img src={{f}} alt = 'pokemon1' width="250" height="250">
    <img src="http://127.0.0.1:5000/plotku/{{zz}}" width="700" height="450">
    <img src={{e}} alt = 'pokemon1' width="250" height="250">
    <h3> Prediksi: </h3>
       <h2> Pemenangnya adalah : {{p}}</h2>
        <h2> Presentase : {{prob}} %</h2>



<form action="http://127.0.0.1:5000/" method="get">
        <p>
            <input type="submit" value="Home"/>
        </p>
    </form>

</center>

</body>
</html>